In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
import pickle
import datetime

In [3]:
df=pd.read_csv('F:\\Generative AI Course With Langchain and Huggingface\\13 - ANN Project Implementation\\annclassification\\Churn_Modelling.csv')
df.drop(["RowNumber","CustomerId","Surname"],axis=1,inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
lbe=LabelEncoder()
ohe=OneHotEncoder()
scalar=StandardScaler()

In [5]:
df['Gender']=lbe.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
geo=ohe.fit_transform(df[['Geography']])
eo=pd.DataFrame(geo.toarray(),columns=ohe.get_feature_names_out(["Geography"]))
input_data=pd.concat([df.drop("Geography",axis=1),eo],axis=1)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [7]:
X=input_data.drop("EstimatedSalary",axis=1)
y=input_data["EstimatedSalary"]

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)
X_train=scalar.fit_transform(X_train)
X_test=scalar.transform(X_test)

In [8]:
with open('scalar.pkl','wb') as file:
    pickle.dump(scalar,file)
with open('ohe.pkl','wb') as file:
    pickle.dump(ohe,file)
with open('lbe.pkl','wb') as file:
    pickle.dump(lbe,file)

In [9]:
# ANN-Regression

In [10]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

WARNING:tensorflow:From f:\Generative AI Course With Langchain and Huggingface\13 - ANN Project Implementation\ANN-Regression\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [11]:
model=Sequential(
[
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) # o/p layer for regression default is Linear
])

WARNING:tensorflow:From f:\Generative AI Course With Langchain and Huggingface\13 - ANN Project Implementation\ANN-Regression\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From f:\Generative AI Course With Langchain and Huggingface\13 - ANN Project Implementation\ANN-Regression\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Setup dashboard
log_dir="log/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [14]:
# Setting uup early stopping
earlystopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [15]:
history=model.fit(
X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,earlystopping]
)

Epoch 1/100
WARNING:tensorflow:From f:\Generative AI Course With Langchain and Huggingface\13 - ANN Project Implementation\ANN-Regression\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From f:\Generative AI Course With Langchain and Huggingface\13 - ANN Project Implementation\ANN-Regression\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

235/235 [==============================] - 4s 8ms/step - loss: 100631.3125 - mae: 100631.3125 - val_loss: 98212.1562 - val_mae: 98212.1562
Epoch 2/100
235/235 [==============================] - 1s 5ms/step - loss: 100105.1641 - mae: 100105.1641 - val_loss: 97135.7188 - val_mae: 97135.7188
Epoch 3/100
235/235 [==============================] - 1s 5ms/step - loss: 98197.0547 - mae: 98197.0547 - val_loss: 94306.4375 - val_mae: 94306.4375
Epoch 4/100
235/235 [==============================] - 1s 5ms/step - loss: 94346.4141 - mae: 94346.4141 - val_loss: 89442.4453 - val_mae: 89442.4453
Epoch 5/100
235/235 [==============================] - 1s 5ms/step - loss: 88514.7812 - mae: 88514.7812 - val_loss: 82773.0391 - val_mae: 82773.0391
Epoch 6/100
235/235 [==============================] - 1s 6ms/step - loss: 81122.2266 - mae: 81122.2266 - val_loss: 75136.0547 - val_mae: 75136.0547
Epoch 7/100
235/235 [==============================] - 1s 5ms/step - loss: 73049.5078 - mae: 73049.5078 - val_loss: 67507.2422 - val_mae: 67507.2422
Epoch 8/100
235/235 [==============================] - 1s 5ms/step - loss: 65464.2969 - mae: 65464.2969 - val_loss: 60979.8398 - val_mae: 60979.8398
Epoch 9/100
235/235 [==============================] - 1s 5ms/step - loss: 59372.1719 - mae: 59372.1719 - val_loss: 56141.7344 - val_mae: 56141.7344
Epoch 10/100
235/235 [==============================] - 1s 5ms/step - loss: 55112.8672 - mae: 55112.8672 - val_loss: 53082.2266 - val_mae: 53082.2266
Epoch 11/100
235/235 [==============================] - 1s 5ms/step - loss: 52551.7969 - mae: 52551.7969 - val_loss: 51459.6211 - val_mae: 51459.6211
Epoch 12/100
235/235 [==============================] - 1s 5ms/step - loss: 51219.2305 - mae: 51219.2305 - val_loss: 50821.2773 - val_mae: 50821.2773
Epoch 13/100
235/235 [==============================] - 1s 5ms/step - loss: 50639.5234 - mae: 50639.5234 - val_loss: 50600.4531 - val_mae: 50600.4531
Epoch 14/100
235/235 [==============================] - 1s 5ms/step - loss: 50381.9688 - mae: 50381.9688 - val_loss: 50541.0547 - val_mae: 50541.0547
Epoch 15/100
235/235 [==============================] - 1s 5ms/step - loss: 50248.8594 - mae: 50248.8594 - val_loss: 50505.4883 - val_mae: 50505.4883
Epoch 16/100
235/235 [==============================] - 1s 5ms/step - loss: 50181.3594 - mae: 50181.3594 - val_loss: 50473.3906 - val_mae: 50473.3906
Epoch 17/100
235/235 [==============================] - 1s 5ms/step - loss: 50122.4180 - mae: 50122.4180 - val_loss: 50451.5430 - val_mae: 50451.5430
Epoch 18/100
235/235 [==============================] - 1s 5ms/step - loss: 50073.5273 - mae: 50073.5273 - val_loss: 50430.6094 - val_mae: 50430.6094
Epoch 19/100
235/235 [==============================] - 1s 5ms/step - loss: 50035.9492 - mae: 50035.9492 - val_loss: 50410.2852 - val_mae: 50410.2852
Epoch 20/100
235/235 [==============================] - 1s 5ms/step - loss: 49998.4258 - mae: 49998.4258 - val_loss: 50391.6797 - val_mae: 50391.6797
Epoch 21/100
235/235 [==============================] - 1s 5ms/step - loss: 49967.9648 - mae: 49967.9648 - val_loss: 50366.0078 - val_mae: 50366.0078
Epoch 22/100
235/235 [==============================] - 1s 5ms/step - loss: 49944.9180 - mae: 49944.9180 - val_loss: 50342.9141 - val_mae: 50342.9141
Epoch 23/100
235/235 [==============================] - 1s 5ms/step - loss: 49919.1836 - mae: 49919.1836 - val_loss: 50325.0352 - val_mae: 50325.0352
Epoch 24/100
235/235 [==============================] - 1s 5ms/step - loss: 49896.8594 - mae: 49896.8594 - val_loss: 50312.7617 - val_mae: 50312.7617
Epoch 25/100
235/235 [==============================] - 1s 5ms/step - loss: 49871.0195 - mae: 49871.0195 - val_loss: 50284.1719 - val_mae: 50284.1719
Epoch 26/100
235/235 [==============================] - 1s 5ms/step - loss: 49850.2773 - mae: 49850.2773 - val_loss: 50265.9609 - val_mae: 50265.9609
Epoch 27/100
235/235 [==============================] - 1s 5ms/step - loss: 49830.3555 - mae: 49830.3555 - val_loss: 50263.8203 - val_mae: 50263.8203
Epoch 28/100
235/235 [==============================] - 1s 5ms/step - loss: 49817.6914 - mae: 49817.6914 - val_loss: 50251.7695 - val_mae: 50251.7695
Epoch 29/100
235/235 [==============================] - 1s 5ms/step - loss: 49794.9492 - mae: 49794.9492 - val_loss: 50234.1250 - val_mae: 50234.1250
Epoch 30/100
235/235 [==============================] - 1s 5ms/step - loss: 49778.6211 - mae: 49778.6211 - val_loss: 50219.7930 - val_mae: 50219.7930
Epoch 31/100
235/235 [==============================] - 1s 5ms/step - loss: 49765.3516 - mae: 49765.3516 - val_loss: 50210.0781 - val_mae: 50210.0781
Epoch 32/100
235/235 [==============================] - 1s 5ms/step - loss: 49750.9102 - mae: 49750.9102 - val_loss: 50213.9570 - val_mae: 50213.9570
Epoch 33/100
235/235 [==============================] - 1s 5ms/step - loss: 49733.1406 - mae: 49733.1406 - val_loss: 50191.7422 - val_mae: 50191.7422
Epoch 34/100
235/235 [==============================] - 1s 5ms/step - loss: 49722.4688 - mae: 49722.4688 - val_loss: 50181.4961 - val_mae: 50181.4961
Epoch 35/100
235/235 [==============================] - 1s 5ms/step - loss: 49712.0195 - mae: 49712.0195 - val_loss: 50172.7148 - val_mae: 50172.7148
Epoch 36/100
235/235 [==============================] - 1s 5ms/step - loss: 49696.6797 - mae: 49696.6797 - val_loss: 50170.2383 - val_mae: 50170.2383
Epoch 37/100
235/235 [==============================] - 1s 5ms/step - loss: 49690.5898 - mae: 49690.5898 - val_loss: 50163.3320 - val_mae: 50163.3320
Epoch 38/100
235/235 [==============================] - 1s 5ms/step - loss: 49675.4648 - mae: 49675.4648 - val_loss: 50159.7773 - val_mae: 50159.7773
Epoch 39/100
235/235 [==============================] - 1s 5ms/step - loss: 49667.8086 - mae: 49667.8086 - val_loss: 50158.7773 - val_mae: 50158.7773
Epoch 40/100
235/235 [==============================] - 1s 5ms/step - loss: 49659.7969 - mae: 49659.7969 - val_loss: 50155.0820 - val_mae: 50155.0820
Epoch 41/100
235/235 [==============================] - 1s 5ms/step - loss: 49647.3867 - mae: 49647.3867 - val_loss: 50139.8555 - val_mae: 50139.8555
Epoch 42/100
235/235 [==============================] - 1s 5ms/step - loss: 49641.6094 - mae: 49641.6094 - val_loss: 50131.0430 - val_mae: 50131.0430
Epoch 43/100
235/235 [==============================] - 1s 5ms/step - loss: 49632.8281 - mae: 49632.8281 - val_loss: 50124.2266 - val_mae: 50124.2266
Epoch 44/100
235/235 [==============================] - 1s 5ms/step - loss: 49619.0977 - mae: 49619.0977 - val_loss: 50124.8867 - val_mae: 50124.8867
Epoch 45/100
235/235 [==============================] - 1s 5ms/step - loss: 49611.4375 - mae: 49611.4375 - val_loss: 50124.9688 - val_mae: 50124.9688
Epoch 46/100
235/235 [==============================] - 1s 5ms/step - loss: 49604.8281 - mae: 49604.8281 - val_loss: 50108.9414 - val_mae: 50108.9414
Epoch 47/100
235/235 [==============================] - 1s 5ms/step - loss: 49594.2500 - mae: 49594.2500 - val_loss: 50105.2773 - val_mae: 50105.2773
Epoch 48/100
235/235 [==============================] - 1s 5ms/step - loss: 49589.9141 - mae: 49589.9141 - val_loss: 50102.8828 - val_mae: 50102.8828
Epoch 49/100
235/235 [==============================] - 1s 5ms/step - loss: 49578.7578 - mae: 49578.7578 - val_loss: 50101.4727 - val_mae: 50101.4727
Epoch 50/100
235/235 [==============================] - 1s 5ms/step - loss: 49573.3438 - mae: 49573.3438 - val_loss: 50099.5117 - val_mae: 50099.5117
Epoch 51/100
235/235 [==============================] - 1s 5ms/step - loss: 49562.7188 - mae: 49562.7188 - val_loss: 50089.3281 - val_mae: 50089.3281
Epoch 52/100
235/235 [==============================] - 1s 5ms/step - loss: 49555.2969 - mae: 49555.2969 - val_loss: 50092.3203 - val_mae: 50092.3203
Epoch 53/100
235/235 [==============================] - 1s 5ms/step - loss: 49548.9609 - mae: 49548.9609 - val_loss: 50088.4258 - val_mae: 50088.4258
Epoch 54/100
235/235 [==============================] - 1s 5ms/step - loss: 49543.2148 - mae: 49543.2148 - val_loss: 50093.3438 - val_mae: 50093.3438
Epoch 55/100
235/235 [==============================] - 1s 5ms/step - loss: 49539.9258 - mae: 49539.9258 - val_loss: 50083.7344 - val_mae: 50083.7344
Epoch 56/100
235/235 [==============================] - 1s 5ms/step - loss: 49531.1641 - mae: 49531.1641 - val_loss: 50078.4219 - val_mae: 50078.4219
Epoch 57/100
235/235 [==============================] - 1s 5ms/step - loss: 49526.5000 - mae: 49526.5000 - val_loss: 50085.2969 - val_mae: 50085.2969
Epoch 58/100
235/235 [==============================] - 1s 5ms/step - loss: 49519.1484 - mae: 49519.1484 - val_loss: 50078.4453 - val_mae: 50078.4453
Epoch 59/100
235/235 [==============================] - 1s 5ms/step - loss: 49513.8906 - mae: 49513.8906 - val_loss: 50081.4023 - val_mae: 50081.4023
Epoch 60/100
235/235 [==============================] - 1s 5ms/step - loss: 49505.9883 - mae: 49505.9883 - val_loss: 50073.0820 - val_mae: 50073.0820
Epoch 61/100
235/235 [==============================] - 1s 5ms/step - loss: 49503.9023 - mae: 49503.9023 - val_loss: 50071.7031 - val_mae: 50071.7031
Epoch 62/100
235/235 [==============================] - 1s 5ms/step - loss: 49496.4414 - mae: 49496.4414 - val_loss: 50066.4336 - val_mae: 50066.4336
Epoch 63/100
235/235 [==============================] - 1s 5ms/step - loss: 49493.4922 - mae: 49493.4922 - val_loss: 50066.6523 - val_mae: 50066.6523
Epoch 64/100
235/235 [==============================] - 1s 5ms/step - loss: 49484.1914 - mae: 49484.1914 - val_loss: 50074.4141 - val_mae: 50074.4141
Epoch 65/100
235/235 [==============================] - 1s 5ms/step - loss: 49481.9531 - mae: 49481.9531 - val_loss: 50064.8984 - val_mae: 50064.8984
Epoch 66/100
235/235 [==============================] - 1s 5ms/step - loss: 49476.7109 - mae: 49476.7109 - val_loss: 50059.7539 - val_mae: 50059.7539
Epoch 67/100
235/235 [==============================] - 1s 5ms/step - loss: 49473.3555 - mae: 49473.3555 - val_loss: 50052.7969 - val_mae: 50052.7969
Epoch 68/100
235/235 [==============================] - 1s 5ms/step - loss: 49467.4023 - mae: 49467.4023 - val_loss: 50059.7617 - val_mae: 50059.7617
Epoch 69/100
235/235 [==============================] - 1s 5ms/step - loss: 49462.3945 - mae: 49462.3945 - val_loss: 50062.1523 - val_mae: 50062.1523
Epoch 70/100
235/235 [==============================] - 1s 5ms/step - loss: 49456.6914 - mae: 49456.6914 - val_loss: 50056.2344 - val_mae: 50056.2344
Epoch 71/100
235/235 [==============================] - 1s 5ms/step - loss: 49451.6172 - mae: 49451.6172 - val_loss: 50049.9258 - val_mae: 50049.9258
Epoch 72/100
235/235 [==============================] - 1s 5ms/step - loss: 49448.3906 - mae: 49448.3906 - val_loss: 50055.5000 - val_mae: 50055.5000
Epoch 73/100
235/235 [==============================] - 1s 5ms/step - loss: 49444.0156 - mae: 49444.0156 - val_loss: 50063.3555 - val_mae: 50063.3555
Epoch 74/100
235/235 [==============================] - 1s 5ms/step - loss: 49440.1289 - mae: 49440.1289 - val_loss: 50048.2773 - val_mae: 50048.2773
Epoch 75/100
235/235 [==============================] - 1s 5ms/step - loss: 49435.4531 - mae: 49435.4531 - val_loss: 50053.9922 - val_mae: 50053.9922
Epoch 76/100
235/235 [==============================] - 1s 5ms/step - loss: 49431.2891 - mae: 49431.2891 - val_loss: 50050.8281 - val_mae: 50050.8281
Epoch 77/100
235/235 [==============================] - 1s 5ms/step - loss: 49425.8359 - mae: 49425.8359 - val_loss: 50050.5977 - val_mae: 50050.5977
Epoch 78/100
235/235 [==============================] - 1s 5ms/step - loss: 49423.3125 - mae: 49423.3125 - val_loss: 50049.6133 - val_mae: 50049.6133
Epoch 79/100
235/235 [==============================] - 1s 5ms/step - loss: 49418.1562 - mae: 49418.1562 - val_loss: 50056.0547 - val_mae: 50056.0547
Epoch 80/100
235/235 [==============================] - 1s 5ms/step - loss: 49414.7812 - mae: 49414.7812 - val_loss: 50053.9414 - val_mae: 50053.9414
Epoch 81/100
235/235 [==============================] - 1s 5ms/step - loss: 49411.5352 - mae: 49411.5352 - val_loss: 50056.2148 - val_mae: 50056.2148
Epoch 82/100
235/235 [==============================] - 1s 5ms/step - loss: 49409.3320 - mae: 49409.3320 - val_loss: 50055.0156 - val_mae: 50055.0156
Epoch 83/100
235/235 [==============================] - 1s 5ms/step - loss: 49407.5391 - mae: 49407.5391 - val_loss: 50048.8867 - val_mae: 50048.8867
Epoch 84/100
235/235 [==============================] - 1s 5ms/step - loss: 49400.0430 - mae: 49400.0430 - val_loss: 50047.3125 - val_mae: 50047.3125
Epoch 85/100
235/235 [==============================] - 1s 5ms/step - loss: 49397.5000 - mae: 49397.5000 - val_loss: 50054.6484 - val_mae: 50054.6484
Epoch 86/100
235/235 [==============================] - 1s 5ms/step - loss: 49395.5781 - mae: 49395.5781 - val_loss: 50051.7969 - val_mae: 50051.7969
Epoch 87/100
235/235 [==============================] - 1s 5ms/step - loss: 49392.5195 - mae: 49392.5195 - val_loss: 50060.3711 - val_mae: 50060.3711
Epoch 88/100
235/235 [==============================] - 1s 5ms/step - loss: 49389.5781 - mae: 49389.5781 - val_loss: 50057.6758 - val_mae: 50057.6758
Epoch 89/100
235/235 [==============================] - 1s 5ms/step - loss: 49384.4570 - mae: 49384.4570 - val_loss: 50053.8398 - val_mae: 50053.8398
Epoch 90/100
235/235 [==============================] - 1s 5ms/step - loss: 49383.2930 - mae: 49383.2930 - val_loss: 50049.8320 - val_mae: 50049.8320
Epoch 91/100
235/235 [==============================] - 1s 5ms/step - loss: 49379.1289 - mae: 49379.1289 - val_loss: 50051.9023 - val_mae: 50051.9023
Epoch 92/100
235/235 [==============================] - 1s 6ms/step - loss: 49377.1211 - mae: 49377.1211 - val_loss: 50049.7031 - val_mae: 50049.7031
Epoch 93/100
235/235 [==============================] - 1s 5ms/step - loss: 49373.2812 - mae: 49373.2812 - val_loss: 50052.5586 - val_mae: 50052.5586
Epoch 94/100
235/235 [==============================] - 1s 5ms/step - loss: 49368.1367 - mae: 49368.1367 - val_loss: 50056.6680 - val_mae: 50056.6680

In [16]:
# Load tensorboard
%load_ext tensorboard

In [19]:
%tensorboard --logdir log/20250211-125135

Reusing TensorBoard on port 6007 (pid 12776), started 0:00:18 ago. (Use '!kill 12776' to kill it.)

In [18]:
model.save('regressor.h5')

f:\Generative AI Course With Langchain and Huggingface\13 - ANN Project Implementation\ANN-Regression\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [21]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0